@import "tailwindcss";

:root {
  --background: #eef2f7;
  --foreground: #1d1d1f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: linear-gradient(
    to bottom,
    #f8fafc,
    #e2e7fa
  );
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}